
<h1 class="margin-class-header">Alpha Blog</h1>

<div class="move-button">
    <% if current_user %>
    <%= link_to t('.Sign Out', :default => t("helpers.links.Sign Out")),
    destroy_user_session_path, method: :delete,
        :class => 'btn btn-primary' %>
    <% else %>
    <%= link_to t('.new registration', :default => t("helpers.links.new registration")),
    new_user_registration_path,
        :class => 'btn btn-primary' %> |
    <%= link_to t('.Sign In', :default => t("helpers.links.Sign In")),
    new_user_session_path,
        :class => 'btn btn-primary' %>
    <% end %> |  

    <%= link_to t('.Post', :default => t("helpers.links.Post")),
    posts_path,
        :class => 'btn btn-primary .btn-mini' %>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <h3>About</h3>
            <p>Social work is an academic discipline and profession that concerns itself with individuals, families, groups, and communities in an effort to enhance social functioning and overall well-being.[1][2] Social functioning is the way in which people perform their social roles, and the structural institutions that are provided[by whom?] to sustain them.[3] Social work applies social sciences, such as sociology, psychology, political science, public health, community development, law, and economics, to engage with client systems, conduct assessments, and develop interventions to solve social and personal problems; and to bring about social change. Social work practice is often divided into micro-work, which involves working directly with individuals or small groups; and macro-work, which involves working with communities, and - within social policy - fostering change on a larger scale.[4]<p>
            <em>“Social work is a practice-based profession and an academic discipline that promotes social change and development, social cohesion, and the empowerment and liberation of people. Principles of social justice, human rights, collective responsibility and respect for diversities are central to social work. Underpinned by theories of social work, social sciences, humanities, and indigenous knowledge, social work engages people and structures to address life challenges and enhance well-being."[8] –International Federation of Social Workers.</em>
            <p>Social work practice consists of the professional application of social work values, principles, and techniques to one or more of the following ends: helping people obtain tangible services; counseling and psychotherapy with individuals, families, and groups; helping communities or groups provide or improve social and health services, and participating in legislative processes. The practice of social work requires knowledge of human development and behavior; of social and economic, and cultural institutions; and the interaction of all these factors."[10] –National Association of Social Workers

            Social workers work with individuals and families to help improve outcomes in their lives. This may be helping to protect vulnerable people from harm or abuse or supporting people to live independently. Social workers support people, act as advocates and direct people to the services they may require. Social workers often work in multi-disciplinary teams alongside health and education professionals.[14]</p>
            <p>This was accompanied by a less easily defined movement; the development of institutions to deal with the entire range of social problems. All had their most rapid growth during the nineteenth century, and laid the foundation basis for modern social work, both in theory and in practice.[15]

            Professional social work originated in 19th century England, and had its roots in the social and economic upheaval wrought by the Industrial Revolution, in particular, the societal struggle to deal with the resultant mass urban-based poverty and its related problems. Because poverty was the main focus of early social work, it was intricately linked with the idea of charity work.[15]  Other important historical figures that shaped the growth of the social work profession are Jane Addams, who founded the Hull House in Chicago and won the Nobel Peace Prize in 1931; Mary Ellen Richmond, who wrote Social Diagnosis, one of the first social workbooks to incorporate law, medicine, psychiatry, psychology, and history; and William Beveridge, who created the social welfare state, framing the debate on social work within the context of social welfare provision.</p>
                <a class="btn btn-primary btn-large">
                Learn more
                </a>
            </p>
    </div>
</div>


