// Place all the styles related to the Billing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#button-moving {
    margin-left: 47%;
    margin-top: 3%;
  }

.moving-text {
    margin-left: 39%;
}

.body-color {
    background-color: gainsboro;
}