// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form-control {
    width: 25%;
}

.move-button {
    margin-top: -4%;
    float: right;
}

.container-fluid {
    margin-top: 3%;
}

.margin-class-header {
    margin-left: 38%;
    font-family: fantasy;
}